<!-- HEADER -->
<%- include('./partials/header.ejs') %>

<!-- BLOCK CONTENT -->
<h1>Author: <%= author.name %></h1>
<p>
  <%= author.date_of_birth_formatted %> - <%= author.date_of_death_formatted %>
  <span>
    <% if (author.date_of_birth && author.date_of_death) { %> (aged <%=
    author.lifespan %>) <% } else if (author.date_of_birth) { %> (<%=
    author.lifespan %> years old) <% } else { %> (no lifespan information) <% }
    %>
  </span>
</p>

<div style="margin-left: 20px; margin-top: 20px">
  <h4>Books</h4>

  <dl>
    <% if (author_books) { %> <% author_books.forEach((book) => { %>
    <dt>
      <a href="<%= book.url %>"> <%= book.title %> </a>
    </dt>
    <dd><%= book.summary %></dd>
    <% }) %> <% } else { %>
    <p>This author has no books.</p>
    <% } %>
  </dl>
</div>

<hr />
<!-- Delete Control (check author_delete.ejs and author_delete_post ) -->
<p>
  <a href="<%= author.url %>/delete">Delete Author</a>
</p>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
