<!-- HEADER -->
<%- include('./partials/header.ejs') %>

<!-- BLOCK CONTENT -->
<h1><%= title %></h1>

<ul>
  <!-- IF author_list HAS authors: -->
  <% if (author_list) { %>
  <!-- LOOP thru each author -->
  <% author_list.forEach(author => { %>
  <li>
    <a href="<%= author.url %>"><%= author.name %> </a>
    <%= author.date_of_birth_formatted %> - <%= author.date_of_death_formatted
    %>
  </li>
  <% }) %> <% } else { %>
  <p>There are no authors</p>
  <% } %>
</ul>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
