<!-- HEADER -->
<%- include('./partials/header.ejs') %>

<!-- BLOCK CONTENT -->
<h2>
  <a href="<%= bookinstance.book.url %>"> <%= bookinstance.book.title %> </a>
</h2>

<p>
  <strong>Id: </strong>
  <%= bookinstance._id %>
</p>
<!-- <h1>ID: <%= bookinstance._id %></h1>

<p>
  <strong>Title: </strong>
  <a href="<%= bookinstance.book.url %>"> <%= bookinstance.book.title %> </a>
</p> -->

<p><strong>Imprint: </strong><%= bookinstance.imprint %></p>

<p>
  <strong>Status:</strong>
  <% if (bookinstance.status === 'Available') { %>
  <span class="text-success"><%= bookinstance.status %></span>
  <% } else if (bookinstance.status === 'Maintenance') { %>
  <span class="text-danger"><%= bookinstance.status %></span>
  <% } else { %>
  <span class="text-warning"><%= bookinstance.status %></span>
  <% } %>
</p>

<% if (bookinstance.status !== 'Available') { %>
<p><strong>Due back:</strong> <%= bookinstance.due_back_formatted %></p>
<% } %>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
