<!-- HEADER -->
<%- include('./partials/header.ejs') %>

<!-- BLOCK CONTENT -->
<h1>Title: <%= book.title %></h1>

<p>
  <strong>Author: </strong>
  <a href="<%= book.author.url %>"> <%= book.author.name %></a>
</p>
<p><strong>Summary: </strong> <%= book.summary %></p>
<p><strong>ISBN: </strong> <%= book.isbn %></p>
<p>
  <strong>Genre: </strong>
  <% book.genre.forEach((val, index) => { %>
  <a href="<%= val.url %>"> <%= val.name %></a>
  <!-- add commas up until the last genre -->
  <% if (index < book.genre.length - 1) { %> , <% } %> <% }) %>
</p>

<div style="margin-left: 20px; margin-top: 20px">
  <h4>Copies</h4>
  <% if (book_instances) { %> <% book_instances.forEach((val) => { %>
  <hr />
  <% if (val.status == 'Available') { %>
  <p class="text-success"><%= val.status %></p>
  <% } else if (val.status == 'Maintenance') { %>
  <p class="text-danger"><%= val.status %></p>
  <% } else { %>
  <p class="text-warning"><%= val.status %></p>
  <% } %>
  <p><strong>Imprint: </strong> <%= val.imprint %></p>
  <% if (val.status !== 'Available') { %>
  <p><strong>Due back: </strong> <%= val.due_back_formatted %></p>
  <% } %>
  <p>
    <strong>Id: </strong>
    <a href="<%= val.url %>"><%= val._id %> </a>
  </p>
  <% }) %> <% } else { %>
  <p>There are no copies of this book in the library.</p>
  <% } %>
</div>

<hr />
<!-- Delete and Update Buttons -->
<p>
  <a href="<%= book.url %>/delete">Delete Book</a>
</p>
<p>
  <a href="<%= book.url %>/update">Update Book</a>
</p>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
